---
import Container from "../../components/ui/Container.astro";
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogCard from "../../components/knowledgehub/BlogCard.astro";
import Heading from "../../components/knowledgehub/Heading.astro";

type Post = {
  id: string;
  data: {
    title: string;
    description: string;
    pubDate: Date;
    heroImage?: string;
    [key: string]: any;
  };
};

const posts = (await getCollection("knowledgehub")) as Post[];
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<section class="bg-[#F9F4E1]">
  <BaseLayout>
    <Container>
      <Heading />
      {
        posts.length > 0 ? (
          <div class="gap-content grid grid-cols-12 grid-rows-2">
            {posts.map((post) => (
              <BlogCard post={post} />
            ))}
          </div>
        ) : (
          <div>
            <h2>No posts found</h2>
            <p>Check back later for new content.</p>
          </div>
        )
      }
    </Container>
  </BaseLayout>
</section>

<style>
  .gap-content {
    padding-bottom: var(--spacing-between);
    gap: var(--spacing-between);
  }
</style>
