---
import Container from "../ui/Container.astro";
import ArticleCard from "./ArticleCard.astro";

const articles = [
  {
    title: "Econ Hub",
    excerpt:
      "Math Hub is the where that I colect my all knowledges about mathematics",
    image: "/photos/Econ_hub.jpg",
    href: "/knowledgehub/econ_hub.md",
  },
  {
    title: "Math hub",
    excerpt:
      "Math Hub is the where that I colect my all knowledges about mathematics",
    image: "/photos/Math_hub.jpg",
    href: "/knowledgehub/math_hub.md",
  },
  {
    title: "Marketing Hub",
    excerpt:
      "Marketing Hub is the where that I colect my all knowledges about marketing",
    image: "/photos/Marketing_hub.jpg",
    href: "/knowledgehub/marketing_hub.md",
  },

];
---

<section class="articles">
  <Container>
    <h2 class="article-heading">Academics Long-term Update</h2>

    <div class="articles-grid">
      {articles.map((article) => <ArticleCard {...article} />)}
    </div>
  </Container>
</section>

<style>
  .article-heading {
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--color-primary-dark);
    padding-bottom: 40px;
  }

  .articles {
    padding: var(--spacing-between) 0;
    background-color: var(--color-primary);
  }

  .articles-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-between);
  }

  .view-more-card {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a59c8b;
    border-radius: var(--border-radius-md);
  }


</style>
