---
import Container from "../ui/Container.astro";
import Button from "../ui/Button.astro";
import { Image } from "astro:assets";
---

<section class="hero">
  <Container>
    <div class="hero-content">
      <div class="hero-image">
        <Image
          src="/photos/jeck.jpg"
          alt="New article"
          class="hero-img"
          width="839"
          height="424"
        />
      </div>
      <div class="hero-text">
        <div>
          <h1 class="hero-title">Available for hire!</h1>
          <p class="hero-description">
            This is my cv that I have been working on for a long time. It
            contains my personal information, education, work experience, and
            skills. I hope it will help me get a job in the future.
          </p>
        </div>
        <div class="hero-cta">
          <Button href="/cv" variant="primary" size="sm"> Read more </Button>
        </div>
      </div>
    </div>
  </Container>
</section>

<style>
  .hero-heading {
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--color-primary-dark);
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .hero {
    background: var(--color-primary);
    padding-bottom: var(--spacing-between);
  }

  .hero-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--spacing-between);
    align-items: center;
    padding-top: var(--spacing-between);
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 424px;
  }

  .hero-title {
    padding-bottom: 20px;
    font-size: var(--font-title);
    font-weight: bold;
    color: var(--color-primary-dark);
    line-height: 1.1;
  }

  .hero-description {
    font-size: var(--font-description);
    color: var(--color-primary-dark);
    line-height: 140%;
  }

  .hero-image {
    position: relative;
    height: 424px;
  }

  .hero-img {
    border-radius: var(--border-radius-md);
    width: 100%;
    height: 100%;
  }

</style>
