<<<<<<< HEAD
---
export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`container ${className}`}>
  <slot />
=======
---
export interface Props {
  class?: string;
}

const { class: className = '' } = Astro.props;
---

<div class={`container ${className}`}>
  <slot />
>>>>>>> dd7a9be (อปเดตหนาเวบ)
</div>