---
import Container from "../ui/Container.astro";

const currentYear = new Date().getFullYear();

const socialLinks = [
  { name: "Instagram", href: "#" },
  { name: "Pinterest", href: "#" },
];
---

<footer class="footer">
  <Container>
    <!-- Footer Bottom -->
    <div class="footer-bottom">
      <div class="footer-bottom-content">
        <p class="footer-copyright">
          © {currentYear} Hoop. All Rights Reserved | all of my knowledge that I have learned
          |
          <a href="/cv" class="footer-link">Contact Us</a>:
          <a href="mailto:hyggehome@hyggehome.com" class="footer-link"
            >thontrapoowadol@gmail.com</a
          >
        </p>
      </div>
    </div>
  </Container>
</footer>

<style>
  .footer {
    background-color: var(--color-primary-dark);
    color: white;
    padding: var(--spacing-md);
  }

  .footer-link {
    text-decoration: none;
    color: var(--color-primary);
    text-decoration: underline;
  }

</style>